@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}


<link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/Login Css/Style.css" rel="stylesheet" />

<div class="wrapper">

    @*@if(ViewBag.Message ==null)
    {*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        {
            <div class="form-signin">
                <center> <h3 class="form-signin-heading">Reset Password</h3></center><hr />
                <center><b>New Password</b></center> <br />
                @Html.Hidden("token", new{@ViewBag.Token},new{})
                @Html.Hidden("uid", new { @ViewBag.Uid }, new { })
                @Html.Password("newpassword", "", new { @class = "form-control" })<br />
                <center><b>Confirm New Password</b></center> <br />
                @Html.Password("txtcnewpassword", "", new { @class = "form-control" })<br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button><hr />
                @if (ViewBag.Message != null)
                {
                    <div class="text-center">  @ViewBag.Message</div>

                }
                <div class="text-center">   @Html.ActionLink("Back to Login", "Login", null, new { @class = "text-center" })            </div>
            </div>
        }
    }
    }
    @*else
    { 
    <div>@ViewBag.Message</div>
    }*@
</div>